/* src/components/MusicPlayer.css */

@import "abcjs/abcjs-audio.css";

/* button {
  margin: 0.5em;
  padding: 0.5em 1em;
  font-size: 1em;
} */

.abcsvg {
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ccc; */
  margin-top: 20px;
}


.music-player {
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
}

#radialPlot {
  display: block;
  margin: 2rem auto;
  background: #f9f9f9;
  border-radius: 10px;
    position: relative;
}

.abc-container {
  width: 100%;
  margin: 0 auto;

}

.controls-abc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.close-abc {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.play-pause-btn {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



.play-pause-btn:active {
  transform: scale(0.95);
}