.DotHeatmap-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dotheatmapsvg {
  height: fit-content;
  position: relative;
  /* bottom: 10vh; */
}

.controls {
  position: relative;
  top: 10vh;
  z-index: 1000;
  width: fit-content;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.controls button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* .controls button:hover {
  background-color: #7b2cbf;
} */

.tooltip {
  position: absolute;
  background-color: #ffffffdd;
  padding: 8px;
  border: 1px solid #888;
  border-radius: 4px;
  pointer-events: none;
  font-size: 13px;
  font-family: var(--font-secondary);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.y-grid,
.x-grid {
  stroke: #ccc;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}