.visPT-container {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  background: #e4e4e4;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  display: grid;
  /* grid-template-rows: (12, 1fr); */
  grid-template-rows: 100px 1fr max-content;
  grid-template-columns: repeat(12, 1fr);
  font-family: sans-serif;
  padding: 2%;
}

.vispt-roots {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.roots-description {
  grid-column: 8 / span 3;
  grid-row: 1 / span 2;
  margin-left: 10%;
  text-align: left;
  width: fit-content;
  height: fit-content;
}

.visPT-map {
  grid-column: 2/ span 7;
  grid-row: 6 / span 2;
}

.map-description {
  /* background-color: chocolate; */
  z-index: 1000;
  height: fit-content;
  grid-column: 8 / span 8;
  grid-row: 6 / span 2;
  margin-left: 10%;
  width: fit-content;
  text-align: left;

}

.visPT-dotplot {
  grid-column: 1 / span 2;
  grid-row: 8 / span 2;
}

.visPT-spiral {
  grid-column: 1 / span 2;
  grid-row: 12 / span 2;
}


.roots-title,
.map-title,
.dotplot-title,
.spiral-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
  z-index: 1000;
}

.roots-text {
  color: #374151;
  margin-bottom: 1rem;
}



.arrow {
  margin-top: 5rem;
  font-size: 2rem;
  animation: bounce 1s infinite;
  display: inline-block;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}