
  .tooltip-spiral {
    position: absolute;
    z-index: 1000;
    width: 50%;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
  }
  