
  .tooltip-spiral {
    position: absolute;
    z-index: 1000;
    width: fit-content;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    text-align: left;
    font-size: 12px;
  }
  /* .custom-shape {
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 15px;
    cursor: pointer;
  } 